

.box{
  padding:60px 0px;

}
h5{
  font-family: 'Josefin Sans', sans-serif;

}

.box-part{
  background:#FFF;
  border-radius:10px;
  padding:60px 10px;
  margin:30px 0px;
}
.box-part:hover .fa ,

h5{
  font-family: 'Josefin Sans', sans-serif;
  color: #000;

}
h3{
  font-family: 'Josefin Sans', sans-serif;
}


h1{
  font-family: 'Josefin Sans', sans-serif;
}

h2{
  font-family: 'Josefin Sans', sans-serif;

}




body{
  background-color: #000;
  font-family: 'Josefin Sans', sans-serif;
  width: auto;

}

.text{
  margin:20px 0px;
}

.box-part:hover .title ,







.box-part:hover .text ,
.box-part:hover a{
  color:#FFF;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}




